#game {
    height: 80%;
    max-height: 80%;
    border: 1px solid #00FF00;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  body, a:link, a:visited { 
    background-color: black;
    color: #00ff00;
    font-family: monospace;
  }